@tailwind base;
@tailwind components;
@tailwind utilities;

.demo-wrap {
  overflow: hidden;
  position: relative;
  background-color: #007BFA;
}

.demo-bg {

  opacity: 0.9;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}

.demo-content {
  position: relative;
}

.divider:after{
  background-color: white;
  opacity: 20%;
}


.divider.accent:after{
  background: linear-gradient(90deg,white 0%, #064B79 100%);
  opacity: 0%;
  height: 4px;

}

.divider.accent:before{
  background: linear-gradient(90deg,white 0%, white 100%);
  opacity: 100%;
  height: 4px;
  width: 500rem
}


.divider:before{
  background-color: white;
  opacity: 20%;
}





body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
